.listImage {
    max-width:40px;
    max-height:40px;
}

.listImageWide {
    max-width:50%;
}

.runningBuild {
    background-color: #dee;
    margin: 0 0 10px 0;
}

.runningBuildRow {
    background-color: #dee;
}

.runningBuild p {
    margin: 0 0 0 0;
}