<div class="col-lg-3 col-md-6 hvr-pop">
    <div class="panel panel-red">
        <a href="/index.php?control=JobList&action=show">
            <div class="panel-heading">
                <div class="row">
                    <!--                                                        <div class="col-xs-3">-->
                    <!--                                                            <i class="fa fa-times-circle fa-4x hvr-buzz-out"></i>-->
                    <!--                                                        </div>-->
                    <div class="col-xs-12">
                        <div class="huge hvr-grow-rotate text-center">
                            User Jobs
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>