.ui-state-default:hover {
     background-color: lightgray;
     cursor: pointer;
 }

#sortableSteps { list-style-type: none; margin: 0; padding: 0; }
#sortableSteps li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; }
#sortableSteps li span { position: absolute; margin-left: -1.3em; }

.confSettingsSlideySection .sliderFields {
    display: none ;
}

.confSettingsSlideySection {
    margin-bottom: 0;
    background-color: #86b6f5;
}

.confSettingsHideSectionButton {
}

.settingsScroller {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    height: 60% ;
    max-height: 80vh;
    resize: both;
}

.scroll-mods-top-inner,
.scroll-mods-bottom-inner {
    display: block;
    position: relative;
    left: 50%;
}

@media(min-width:700px) and (max-width:1000px) {
    html {
        overflow-x: hidden;
    }
    #wrapper {
        max-width: 950px;
    }
}

@media(min-width:1000px) and (max-width:1200px) {
    html {
        overflow-x: hidden;
    }
    #wrapper {
        max-width: 1150px;
    }
}

@media(min-width:1200px) {
    html {
        max-width: 1280px;
        overflow-x: hidden;
    }
    #wrapper {
        max-width: 1280px;
    }
}

.bg-secondary {
    background-color: #337ab7 ;
}

#sortableSteps h3 {
    text-align: center;
}

#sortableSteps .step_subtitle {
    text-align: center;
}

.singleBuildStep {
    border: 1px solid black ;
}

.buildStepTextArea {
    min-height: 100px;
}