p.moduleListText { margin: 0; }

.moduleList {
    display: block;
    list-style-type: none;
    position: relative;
}

.moduleEntry {
    display: block;
    border: 1px solid #d3d3d3;
    /*position: absolute;*/
    /*top: 5px;*/
    /*right: 5px;*/
    /*bottom: 5px;*/
}

.moduleEntryOdd {
    background-color: grey; }

.moduleEntryEven{
    background-color: white; }

.moduleEntryFirst {
    /*margin: 0 0 2% 0 !important; */
}
.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.list-group-submenu {
  margin-left:20px;
}

.successMessage {
    color: green ;
}

.errorMessage {
    color: red ;
}

.fullRow {
    width: 100%;
    display: block;
    float: left;
}

#form_alert {
    float: left;
    display: block;
    margin-left: 10%;
}

.rightAlignButton {
    float: right;
    display: block;
    margin-right: 10%;
}

.dropdownUsers {
    width: 50%;
    display: block;
    float: left;
}

.userShow {
    width: 50%;
    display: block;
    float: left;
}

.actionButtonWrap {

}