.loading-ajax {
    background-image: url("/Assets/Modules/SourceHome/images/loading.gif");
    background-size: 45%;
    background-position: center top ;
    background-repeat: no-repeat;
}
.ajax-loaded {
    background-image: none ;
}

#submit-parent-holder {

}

.commitRow {
    margin-bottom: 10px;
    display: inline-block;
}

.commitRow:hover {
    background-color: #F5F5F5;
}

.hiddenCommitRow {
    display: none ;
}

.hiddenIssueRow {
    display: none ;
}