.loading-ajax {
    background-image: url("/Assets/Modules/QuickLinks/images/loading.gif");
    background-size: 45%;
    background-position: center top ;
    background-repeat: no-repeat;
}
.ajax-loaded {
    background-image: none ;
}

#submit-parent-holder {

}