@import url(http://fonts.googleapis.com/css?family=Montserrat|Roboto:400,300,700);

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
    background: #EDEDED;
}
.no-margin{
    margin: 0px;
}
.no-padding{
    padding: 0px;
}
.mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar-list{
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    background: #fff;
}
.sidebar-list .list-group-item{border-radius: 0px;}
.sidebar-list .list-group-item.active{background: #222;font-size: 18px;text-transform: uppercase;border-color: #222;}

.main-container{
    border-top: 2px solid #222;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    background: #fff;
    min-height: 500px;
}
.text-light{
    font-weight: lighter;
}
.lg-anchor{
    color: #000;
    border-bottom: 1px solid #222;
    padding: 2px 0px;
}
.lg-anchor:hover{
    text-decoration: none;
    color: #28a4c9;
    border-color: #2aabd2;
}
.table-custom{
    margin-top:10px;
}
.table-custom a{
    color: #000;
    text-decoration: underline;
}
.custom-form{
    margin-top: 25px;
}
.custom-form .control-label{
    text-align: left !important;
}
.form-control{
    border-radius: 0px;
}
.btn{
    border-radius: 0px;
}
#slide-submenu{
    display: none;
}

.pipe-block {
    min-height: 50px;
    width: 100%;
    display: block;
}

.pipe-now-status-block {
    background-color: green;
}

.pipe-monitor-block {
    background-color: red;
}

.pipe-features-block {
    background-color: blue;
}

.pipe-history-block {
    background-color: lightgray;
}

.loadingImage {
    max-width:20%;
    max-height:20%;
}

.navbar-img {
    float: left;
    max-height: 50px;
    padding: 2%;
}
.signup-position{
    float: none;
    margin: 0 auto;
    top: 30px;
}