RewriteEngine On
RewriteRule ^(?:git|scm)/([a-zA-Z0-9-]+)/(.*)$ index.php?control=GitServer&action=serve&user=$1&item=$2

<If "%{HTTP_USER_AGENT} =~ m#git/(.*)# ">
    AuthType Basic
    AuthName "Pharaoh Source Git Repositories"
    AuthBasicProvider external
    AuthExternal pharaoh_apache_auth
    Require valid-user
</If>
<Else>
    AuthType none
    Require all granted
</Else>