RewriteEngine On
RewriteRule ^(.*)$ index.php?control=GitServer&action=serve&user=$1&item=$2
# RewriteRule ^(?:git|scm)/([a-zA-Z0-9-]+)/(.*)$ index.php?control=GitServer&action=serve&user=$1&item=$2
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
   AuthType Basic
   AuthName "Git repositories"
   AuthBasicProvider anon
   Anonymous_NoUserID on
   Anonymous_MustGiveEmail off
   Anonymous *
   Require valid-user