.listImage {
    max-width:40px;
    max-height:40px;
}

.listImageWide {
    max-width:50%;
}

.runningBuild {
    background-color: #dee;
    margin: 0 0 10px 0;
    overflow-x: hidden;
}

.runningBuildRow {
    background-color: #dee;
}

.runningBuild p {
    margin: 0 0 0 0;
}

.repositoryRow {
    width: 100%;
}

.repositoryRow:hover {
    background-color: white;
}

table {
    height: 100% ;

}
.blCell {
    /*float: left ;                                                                                                    /*/
    /*display: inline-block ;*/
    text-align: center;
    height: 100% ;
}


.cellRowIndex {
    width: 5% ;
    vertical-align: middle !important;
}

.cellRowName{
    width: 40% ;
    text-align: left;
    vertical-align: middle !important;
}

.cellRowName a {
    font-size: 125%;
}

.cellRowType{
    width: 5% ;
    text-align: center;
    vertical-align: middle !important;
}

.cellRowFeatures {
    width: 25% ;
    text-align: center;
    vertical-align: middle !important;
}

.cellRowFeatures .repository-feature {
    max-width: 20% ;
    float: left ;
    display: inline-block ;
}

.cellRowFeatures .repository-feature img {
    max-width: 60px ;
    max-height: 48px ;
    margin: auto 2px;
}

.cellRowAction {
    width: 20% ;
    vertical-align: middle !important;
}


/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 100;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip_trigger:hover .tooltiptext {
    visibility: visible;
}
