.repository-charts-properties {

}

.repository-charts-properties h4.propertyTitle {
    text-align: center;
}

.repository-charts-properties .pipe-block {
    margin: 0 0 20px 0;
}

.repository-feature {
    width : 18%;
    margin: 5px 1% ;
    border: 1px;
    border-color: darkgray;
    background-color: lightgrey;
    float: left;
    padding: 0 5px;
    text-align: center;
}

.repository-feature img {
    display: block;
    margin: 0 auto;
    width : 90%;
    max-width : 90%;
}

.repository-feature:hover {
    background-color: darkgray;
}

.current_status {
    width: 100%;
    padding: 10px 0px;
    color: white;
    display: block;
    margin: 0 auto;
}

.current_status h3 {
    text-align: center;
}

.current_status_good {
    background-color: greenyellow;
}

.current_status_bad {
    background-color: red;
}

.current_status_unknown {
    background-color: darkgray;
}

.git_command_text {
    text-align: center ;
    font-size: 180%;
}

.centered_button {
    float: none;
    display: block;
    margin: 0 auto;
}

.readme_display {
    background-color: white;
    padding: 2px 10px;
}
.readme_display td,
.readme_display th {
     padding: 2px 4px;
 }

.readme_display img {
    max-width: 100%;
}

div.chart_feature_text {
    max-width: 80%;
    display: block;
}