.commitDiff {
    background-color: white;
    padding: 2px 10px;
    margin-bottom: 10px;
}
.commitDiff td,
.commitDiff th {
    padding: 2px 4px;
}

.commitDiff img {
    max-width: 100%;
}

.old_diff_line {
    font-weight: bold;
    color: orangered;
}

.new_diff_line {
    font-weight: bold;
    color: darkgreen;
}

.build_integration_row,
.comment_row {
    border: 1px darkslategray solid;
    background-color: #eeebff;
    padding-bottom: 4px ;
}

.loading_pull_request_comments {
    display: none;
}

.text-center {
    text-align: center;
}

.no-margin-hr {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 0;
    border-top: 1px solid #000;
}

.pull_request_status_display {
    width: 90%;
    display: block ;
    margin: 0% 5%;
    font-size: 250%;
}