.commitRow {
    width: 100%;
    display: block ;
    float:left ;
}

.repository_release_package {
    border: 1px darkslategray solid;
    background-color: #eeebff;
    padding-bottom: 4px ;
}

.repository_release_package_title {
    text-align: center;
}

.repository_release_package_description {

}

.release_package_image {
    max-width: 30px;
    top: 30px;
    position: relative;
}