.tagRow {
    width: 100%;
    display: block ;
    float:left ;
}

.repository_release_package {
    border: 1px darkslategray solid;
    background-color: #eeebff;
    padding-bottom: 4px ;
}

.repository_release_package_title {
    text-align: center;
}

.repository_release_package_description {
    text-align: center;
}

.release_package_image {
    max-height: 40px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}