.commitRow {
    width: 100%;
    display: block ;
    float:left ;
}

.repository_release_package {
    border: 1px darkslategray solid;
    background-color: #eeebff;
    padding-bottom: 4px ;
}

.repository_release_package_title {

}

.repository_release_package_description {

}